/* IMPORTS */
@import url("https://rsms.me/inter/inter.css");
@import url("https://rsms.me/raster/raster2.css");

/* DEFINITIONS */
:root {
  color-scheme: dark;
  --yellow: #fedb00;
  --violet: #440099;
  font-size: 15px !important;
}

:root {
  --txt-color: white;
  --bg-color: black;
  background-color: var(--bg-color);
}

* {
  color: var(--txt-color);
  margin: 0;
  padding: 0;
  font-display: swap;
  /*cursor: url('~/cursor.png'), auto;*/
  text-wrap: pretty;
}

#title {
  overflow: visible;
}

body {
  background: var(--bg-color);
}

.roundel {
  font-weight: 900;
  border-radius: 50px;
  background: var(--violet);
  display: block;
  height: 100px;
  width: 100px;
  margin-bottom: 40px;
  text-align: center;
  align-self: center;
  vertical-align: middle;
  font-size: 50px;
  line-height: 100px;
  cursor: pointer;
  user-select: none;
}

:root {
  font-family: "Inter", "Akzidenz-Grotesk", "Helvetica Neue", "Helvetica",
    "IBM Plex Sans", Arial, sans-serif;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: "Inter var", "Akzidenz-Grotesk", "Helvetica Neue", "Helvetica",
      "IBM Plex Sans", Arial, sans-serif;
  }
}

.highlight {
  color: var(--highlight-txt-color);
  background-color: var(--highlight-bg-color);
  font-weight: 700;
  text-decoration: none;
}

.callout {
  color: var(--callout-txt-color);
  background-color: var(--callout-bg-color);
  font-weight: 700;
  text-decoration: none;
}

a {
  color: var(--violet);
  text-decoration: none;
  white-space: normal;
}

a:hover {
  color: var(--yellow) !important;
  text-decoration: underline;
  text-decoration-style: wavy !important;
  text-decoration-color: var(--violet) !important;
  text-decoration-skip-ink: auto;
}

a:visited {
  color: var(--violet);
}

/* FORMS */

#emailForm {
  display: flex;
  flex-direction: row;
  gap: 12px;
  border-radius: 8px;
}

input {
  border: 0;
  border-radius: 10px;
  padding: 6px 10px;
  font-weight: 500;
}

#emailSubmit {
  background-color: var(--yellow) !important;
  color: black !important;
  border: 0;
  border-radius: 10px;
  padding: 4px 8px;
}

input:hover,
button:hover {
  box-shadow: 0 0 0 2px #440099;
}

input:focus,
button:focus {
  outline: var(--yellow);
  outline-color: var(--yellow);
  box-shadow: 0 0 0 2px #fedb00;
}

/* SPECIAL */
emoji {
  font-style: normal !important;
}

.yellow {
  color: var(--yellow) !important;
}

.violet {
  color: var(--violet) !important;
}

span.rainbow {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (prefers-color-scheme: dark) {
  hr {
    -webkit-background-clip: block;
    background-color: white;
  }
}

hr.rainbow {
  -webkit-background-clip: block;
}

/* I don't remember where I originally saw this lovely
bit of css, but it made me very happy a number of years
ago, and so here it lives on. Thank you, internet person.
*/
.rainbow {
  -o-animation: rainbow 15s ease infinite;
  -webkit-animation: rainbow 15s ease infinite;
  -z-animation: rainbow 15s ease infinite;
  animation: rainbow 15s ease infinite;
  background: -moz-linear-gradient(
    90deg,
    #440099 0%,
    rgba(255, 0, 0, 1) 10%,
    rgba(255, 154, 0, 1) 15%,
    #fedb00 20%,
    rgba(208, 222, 33, 1) 25%,
    rgba(79, 220, 74, 1) 35%,
    rgba(63, 218, 216, 1) 45%,
    rgba(47, 201, 226, 1) 50%,
    rgba(28, 127, 238, 1) 55%,
    rgba(95, 21, 242, 1) 60%,
    rgba(186, 12, 248, 1) 80%,
    rgba(251, 7, 217, 1) 90%,
    rgba(255, 0, 0, 1) 100%
  );
  background: -o-linear-gradient(
    90deg,
    #440099 0%,
    rgba(255, 0, 0, 1) 10%,
    rgba(255, 154, 0, 1) 15%,
    #fedb00 20%,
    rgba(208, 222, 33, 1) 25%,
    rgba(79, 220, 74, 1) 35%,
    rgba(63, 218, 216, 1) 45%,
    rgba(47, 201, 226, 1) 50%,
    rgba(28, 127, 238, 1) 55%,
    rgba(95, 21, 242, 1) 60%,
    rgba(186, 12, 248, 1) 80%,
    rgba(251, 7, 217, 1) 90%,
    rgba(255, 0, 0, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    #440099 0%,
    rgba(255, 0, 0, 1) 10%,
    rgba(255, 154, 0, 1) 15%,
    #fedb00 20%,
    rgba(208, 222, 33, 1) 25%,
    rgba(79, 220, 74, 1) 35%,
    rgba(63, 218, 216, 1) 45%,
    rgba(47, 201, 226, 1) 50%,
    rgba(28, 127, 238, 1) 55%,
    rgba(95, 21, 242, 1) 60%,
    rgba(186, 12, 248, 1) 80%,
    rgba(251, 7, 217, 1) 90%,
    rgba(255, 0, 0, 1) 100%
  );
  background: linear-gradient(
    90deg,
    #440099 0%,
    rgba(255, 0, 0, 1) 10%,
    rgba(255, 154, 0, 1) 15%,
    #fedb00 20%,
    rgba(208, 222, 33, 1) 25%,
    rgba(79, 220, 74, 1) 35%,
    rgba(63, 218, 216, 1) 45%,
    rgba(47, 201, 226, 1) 50%,
    rgba(28, 127, 238, 1) 55%,
    rgba(95, 21, 242, 1) 60%,
    rgba(186, 12, 248, 1) 80%,
    rgba(251, 7, 217, 1) 90%,
    rgba(255, 0, 0, 1) 100%
  );
  background: linear-gradient(
    90deg,
    #440099 0%,
    rgba(255, 0, 0, 1) 10%,
    rgba(255, 154, 0, 1) 15%,
    #fedb00 20%,
    rgba(208, 222, 33, 1) 25%,
    rgba(79, 220, 74, 1) 35%,
    rgba(63, 218, 216, 1) 45%,
    rgba(47, 201, 226, 1) 50%,
    rgba(28, 127, 238, 1) 55%,
    rgba(95, 21, 242, 1) 60%,
    rgba(186, 12, 248, 1) 80%,
    rgba(251, 7, 217, 1) 90%,
    rgba(255, 0, 0, 1) 100%
  );
  background-size: 2500% 2500%;
}
*/

/* ANIMATIONS */
@-webkit-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}

@-moz-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}

@-o-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}

@keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
